.mt-container{
	height: 100%;
	width: 100%;
	background-image: url('../images/mytbk.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.tishixinxi{
	text-align: center;
	color: #ff30a4;
	font-size: 20px;
	font-weight: bold;
	margin-top: 40%;
}
.activity_share{
    float:right;
    width: 232px;
    height: 174px;
    background: url(../images/icon-share.png) no-repeat right;
    background-size: 70%;
}
.modal-content{
    color: #fff;
    margin-bottom:10px;
}
.tbtn{
	text-align: center;
	height: 23%;

}
.tbtn img{
	width: 70%;
}
.dhbtn{
	text-align: center;
	height: 23%;
	display: none;
}
.dhbtn img{
	width: 60%;
}

.t2-span img{
	height: 20px;
	float: left;
	margin-right: 2px;
}
.tcon{
	height:84%;
	margin-top:16%;
	display:none;
}
.topdv{
	height:12%;
	text-align:center;
}
.bodv{
	color:#000;
	font-size:12px;
	margin:auto;
	line-height:20px;
	text-align:center;
	text-decoration: none;
}
.bodv img{
	height: 25px;
	font-weight: bold;
}
.top2dv{
	color:#ff30a4;
	font-size:15px;
	text-align:center;
	line-height:20px;
	font-weight:bold;
	margin-top:5px;
}
.mpsj{
	text-align:center;
	margin-top:10px;
	height:40%;
}
.guizedv{
	text-align:center;
	
	margin-top:2px;
}
.guizedv img{
	width:90%;
}

.ewmimg{
	 text-align:center;
	 margin-top:10px;
	 width: 100%;
	 height: 90px;
}
.ewmimg img{
	height: 100%;
}
#modal{
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	-webkit-opacity:0.8;
	display: none;
}
.cin{
	width: -webkit-calc(100% - 90px);
	height: 40px;
}
